= form_for(post) do |f|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.fields_for :images, @post.images.build do |image|
      = image.file_field :content
  .field
    Tag
    %br
    - 3.times do |i|
      = text_field_tag :"tag_list[]", @post.tags.pluck(:name)[i]
      -# 『@post.tags.pluck(:name)[i]』である場合はDBから引き出し、無ければ新規保存可能
  .actions
    = f.submit
