%p#notice= notice
%h1 Post Details
%p
  %strong Title:
  = @post.title
%p
  %strong Content:
  = @post.content
%p
  %strong Image:
  = image_tag(@post.images.first.content, style: "width: 200px; height: 200px;") if @post.images.present?

= link_to 'Edit', edit_post_path(@post)
|
= link_to 'Back', root_path
